.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
  /* if your video is 4:3 ratio then use the padding-bottom below:*/
  /*padding-bottom: 75%;*/ /* 4:3 */
  
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}